[Unit]
Description=CryptPad service

[Service]
ExecStart=/usr/bin/node /home/ubuntu/cryptpad/server.js
WorkingDirectory=/home/ubuntu/cryptpad
Restart=always

[Install]
WantedBy=multi-user.target
