127.0.0.1		localhost
{{ serverPubIPv4 }}		{{ serverHostname }}.{{ serverFQDN }}		{{ serverHostname }}
{{ serverPubIPv4 }}		noreply.{{ serverFQDN }}		{{ serverHostname }}
{{ serverPubIPv4 }}		fwd.{{ serverFQDN }}		{{ serverHostname }}
{{ serverPubIPv4 }}		burn.{{ serverFQDN }}		{{ serverHostname }}
{{ serverPubIPv4 }}		{{ serverFQDN }}		{{ serverHostname }}
